

html {
    font-size: 16px;
    /* Hintergrundfarbe #880000 */
    
    /* background-color: #004d4d; */
    background-color: #001a1a;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Comic Sans MS';
}

#Alles {
    font-size: 16px;
    color: #EFEFEF;
    padding: 0px;
    text-align: center;
    width: 100%;
    /* TESTEN */
    border: 0px solid #FFFFFF;
}

.Titeltext {
    font-size: calc(0.8rem + 1.5vw);
    color: #ffffb3;
    padding: 0px;
    margin: 25px 0px;
    text-align: center;
    width: 100%;
}

.Fusstext {
    font-size: calc(0.5rem + 1.2vw);
    color: #ffffb3;
    padding: 0px;
    margin: 35px 0px;
    text-align: center;
    width: 100%;
}


#Advent0 {
  position: relative;
  top: 0px;
  left: 0;
  margin: auto;
  padding: 0;
  width: 100%;
  /* TESTEN */
  border: 0px solid #FFDF00;
  height: auto;
}


#Advent1 {
  z-index: 1;
  position: relative;
  top: 0px;
  left: 0;
  margin: auto;
  padding: 0;
  width: 100%;
  /* max-width: kann man anpassen 60%; 800px; ... */
  max-width: 800px;
  height: calc(vh * 66.66);
  border: 0px solid #FFFFFF;
}


#AdventGrafik {
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#AdventGrafik img {
  /* Ecken abrunden */
  border-radius:0px;
  border: 0px solid #FFFFFF;
}


#Tabelle2 {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Rand 1 zum Testen */
  border: 0px solid #FF7F00;
}

#Tabelle2 table {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#Tabelle2 td {
  width: 16.66%;
  height: 25%;
  margin: 0;
  padding: 0;
  text-align: center;
  /* Rand 1 zum Testen */
  border: 0px solid #FFFFFF;
}

#Tabelle2 a {
    text-decoration: none;
}

#Tabelle2 a:hover img {
    animation: mymove 1s;
    background-color: rgba(255, 255, 255, 0);
    transition: all 1.0s linear;
     */
}

@keyframes mymove {
  50% {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
}


.button {
  background-color: #2C9CAF;
  border: none;
  color: #FFFFFF;
  padding: 6px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}

.button {
  transition-duration: 0.6s;
}

.button:hover {
  background-color: #FFFFFF;
  color: #2C9CAF;
}