@font-face {
    font-family: myfont;
    src: url(test.ttf);
}

body {
    background-color: black;
    margin: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
    
}

.header{
    position: absolute;
    width: 100%;
    font-size: 3vw;
    padding-top: 5%;
    font-family: 'Saira Extra Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome{
    position: absolute;
    left: 28%;
    top:20%;
    font-size: 30vh;
    color:antiquewhite;
    font-family: 'Lobster', sans-serif;
}

.headlink{
    color:aliceblue;
    text-decoration:none;
    margin-left: 25px;
    padding: 5px;
}

.headlink:hover{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0,0, 0, 0.8);
    border-radius: 10px;
    padding: 5px;
}


.header-img{
    width: 100%;
}

.logo{
    height: 3.5vw;
    width: 3vw;
    padding-left: 5%;
}

.rightnav{
margin-right: 50px;
}

.placeholder{
    height: 100px;
}
.about-me-container{
    text-align: center;
    margin: 0px;
    width: 100%;
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.little-frame {

    left: 42%;
    position:flex;
    width: 320px;
    height: 500px;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;

}

.hobbies{
    background-color: aquamarine;
}

.profile-img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.spotify-container{
    background-color: black;

}



.playlists{
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 400px;
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-card{
    width: 20%;
    padding: 10px;
    height: 400px;
    
}

.spotify-text{
    width: 100%;
    color: antiquewhite;
    text-align: center;
}

